.wrapper {
    width: 100%;
    height: 100vh;

    // background
    background: #5571ec;
    background: linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
    background: -webkit-linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
    background: -moz-linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
}

.loading-container {
    height: 100%;
    display: flex;
    align-items: center;

    background-color: white;
}

.content {
    width: 100%;
    height: calc(100vh - 70px);
    padding: 0 40px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-and-slogan {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.homepage_pic {
    width: 30%;
    object-fit: contain;
}

.homepage_slogan {
    width: 100%;
    color: white;
    font-size: 350%;
    font-weight: 900;
    text-align: center;
}

.homepage_text {
    width: 35%;
    color: white;
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    padding: 2% 0;
}

.joining-room {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.custom-input__wrapper {
    height: 55px;
    width: 30%;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 1%;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid rgb(204, 204, 204);
}

.custom-input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 10px 0 10px;
    flex: 1;
    outline: none;
    border-radius: inherit;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #edf1fd;
    color: #4383f0;
    text-align: center;
    border: none;

    &::placeholder {
        color: #6e6e6d;
        text-align: center;
        font-weight: 700;
    }

    &:hover {
        background-color: #fff6f667;

        &::placeholder {
            color: #4383f0;
        }
    }

    &:focus {
        background-color: #fff6f6a2;

        &::placeholder {
            color: transparent;
        }
    }

    &__button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgb(254, 189, 2);
        color: black;
        font-weight: 750;
        font-size: 1.6rem;
        border: none;

        &:hover {
            opacity: 0.8;
        }
    }
}

.create-quiz-button {
    position: absolute;
    right: 5%;
    bottom: 8.8%;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.1);
    }
}

.plus-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: scale-down;
    color: rgba(255, 255, 255, 1);
}
