.wrapper {
    width: 100%;
    height: calc(100vh);
    // background
    background: #5571ec;
    background: linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
    background: -webkit-linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
    background: -moz-linear-gradient(0deg, #5571ec 0%, #3590f3 80%);
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}
